In [2]:
import pandas as pd
import numpy as np

# import matplotlib
import matplotlib.pyplot as plt
# import seaborn
import seaborn as sns
%matplotlib inline

In [16]:
df = pd.read_csv("iowa-sample.csv")
df.drop(["Address"], axis=1, inplace=True)
df.head()

,Invoice/Item Number,Date,Store Number,Store Name,City,Zip Code,Store Location,County Number,County,Category,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S08096000008,10/04/2012,4641,Kum & Go #573 / SE 14th DM,DES MOINES,50315,NaN,77,Polk,1022100,...,89191,Jose Cuervo Especial Reposado Tequila Mini,12,500,11.50,17.25,1,17.25,0.50,0.13
1,S23102300041,12/20/2014,4346,Roy's Foodland,SHELLSBURG,52332,POINT (-91.869285 42.094155),6,Benton,1012100,...,11774,Black Velvet,24,375,3.07,4.61,6,27.66,2.25,0.59
2,S14410500035,09/09/2013,3628,Wal-Mart 1528 / Cedar Rapids,CEDAR RAPIDS,52402,POINT (-91.680734 42.034748),57,Linn,1062300,...,43410,Captain Morgan Parrot Bay Coconut,12,750,7.49,11.23,12,134.76,9.00,2.38
3,S09427600021,12/12/2012,4708,No Frills Supermarkets #803 / Glenwo,GLENWOOD,51534,POINT (-95.742987 41.04635),65,Mills,1011100,...,24458,Kessler Blend Whiskey,6,1750,11.01,16.52,30,495.60,52.50,13.87
4,S28446900114,10/14/2015,2594,Hy-Vee Food Store / Sioux City,SIOUX CITY,51106,POINT (-96.346969 42.447396),97,Woodbury,1012100,...,10550,Black Velvet Toasted Caramel,12,750,6.75,10.13,12,121.56,9.00,2.38

In [17]:
df_small["Store Name"] = df_small["Store Name"].astype('category')

df_small["City"] = df_small["City"].astype('category')

df_small["Zip Code"] = df_small["Zip Code"].astype('category')

df_small.dtypes

Invoice/Item Number        object
Date                       object
Store Number                int64
Store Name               category
Address                    object
City                     category
Zip Code                    int64
Store Location             object
County Number               int64
County                     object
Category                    int64
Category Name              object
Vendor Number               int64
Vendor Name                object
Item Number                 int64
Item Description           object
Pack                        int64
Bottle Volume (ml)          int64
State Bottle Cost         float64
State Bottle Retail       float64
Bottles Sold                int64
Sale (Dollars)            float64
Volume Sold (Liters)      float64
Volume Sold (Gallons)     float64
dtype: object

In [7]:
pd.get_dummies(df_small["City"])

   CEDAR RAPIDS  DES MOINES  GLENWOOD  SHELLSBURG  SIOUX CITY
0             0           1         0           0           0
1             0           0         0           1           0
2             1           0         0           0           0
3             0           0         1           0           0
4             0           0         0           0           1

In [183]:
class LR:
    
    def fit(self, X_train, y_train):
        # create vector of ones...
        ones = np.ones(shape=len(X_train))[..., None]
        #...and add to feature matrix
        X = np.concatenate((ones, X_train), 1)
        #calculate coefficients using closed-form solution
        self.coeffs = inv(X.transpose().dot(X)).dot(X.transpose()).dot(y_train)
        
    def predict(self, X_test):
        ones = np.ones(shape=len(X_test))[..., None]
        X_test = np.concatenate((ones, X_test), 1)
        y_hat = X_test.dot(self.coeffs)
        return y_hat

# # extract the feature names of the boston data set and prepend the intercept
# feature_names = np.insert(boston.feature_names, 0, 'INT')

# # collect results into a DataFrame for pretty printing
# results = pd.DataFrame({'coeffs':coeffs}, index=feature_names)

array([13.5724999 , 12.41648163, 11.26046336, 10.1044451 ,  8.94842683,
        7.79240856,  6.6363903 ,  5.48037203,  4.32435376,  3.1683355 ,
        2.01231723,  0.85629897])

In [184]:
from sklearn.linear_model import LinearRegression

data_dir = "https://dlsun.github.io/pods/data/"
bordeaux_df = pd.read_csv(data_dir + "bordeaux.csv",
                          index_col="year")
bordeaux_train = bordeaux_df.loc[:1980].copy()
bordeaux_test = bordeaux_df.loc[1980:].copy()

X_train = bordeaux_train[["age"]]
X_test = bordeaux_test[["age"]]
y_train = bordeaux_train["price"]

In [185]:
model = LinearRegression()
model.fit(X=X_train, y=y_train)
model.predict(X=X_test)

array([13.5724999 , 12.41648163, 11.26046336, 10.1044451 ,  8.94842683,
        7.79240856,  6.6363903 ,  5.48037203,  4.32435376,  3.1683355 ,
        2.01231723,  0.85629897])

In [186]:
model = LR()
model.fit(X_train, y_train)
model.predict(X_test)

array([13.5724999 , 12.41648163, 11.26046336, 10.1044451 ,  8.94842683,
        7.79240856,  6.6363903 ,  5.48037203,  4.32435376,  3.1683355 ,
        2.01231723,  0.85629897])

In [188]:
bordeaux_train["log(price)"] = np.log(bordeaux_train["price"])
X=bordeaux_train[["summer", "win", "har", "age"]]
y=bordeaux_train["log(price)"]

ashen_model = LinearRegression()
ashen_model.fit(
    X=bordeaux_train[["summer", "win", "har", "age"]],
    y=bordeaux_train["log(price)"]
)
ashen_model.predict(
    X=bordeaux_test[["summer", "win", "har", "age"]]
)

array([2.77507496, 3.17926885, 3.4231464 , 3.71919787, 2.83391541,
       3.48195778, 2.4330387 , 2.91879638, 3.5924235 , 3.97294747,
       4.04789338, 3.14087609])

In [190]:
model = LR()
model.fit(X, y)
X_test = bordeaux_test[["summer", "win", "har", "age"]]
model.predict(X_test)

array([2.77507496, 3.17926885, 3.4231464 , 3.71919787, 2.83391541,
       3.48195778, 2.4330387 , 2.91879638, 3.5924235 , 3.97294747,
       4.04789338, 3.14087609])